<strong>Caro {{ organizer }},</strong>
<p>Houve uma nova inscrição para seu meetup <strong>{{ meetup }}</strong></p>
<p>
  <strong>Participante: </strong> {{ attendee }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
<p>Bom evento!</p>
